/* Fuente April Fatface */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* Fuente Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    color: rgba(255, 255, 255, 0.75);
    background-color: #f9f5e9;
}

header {
    background: linear-gradient(90deg, rgba(52, 78, 65, 0.95) 5%, rgba(0, 0, 0, 0.13) 100%), url("../img/INICIO/FOTO\ CABECERA.jpg");
    background-size: cover;
    background-position: center;
}

footer {
    background: #344E41;
}

.logo {
    width: 293px;
    height: 160px;
}

.logoFooter {
    width: 173px;
    height: 83px;
    gap: 11px;
    opacity: 0px;
}

.iconoFooter {
    height: 20px;
    width: 20px;
}

h1 {
    font-family: 'Abril Fatface';
    font-size: 2.7rem;
}

.boton-sabermas {
    background: #588157;
}

.boton-conocenos {
    background: #FFFFFF;
    color: #588157;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Abril Fatface';
}

.stats-section {
    background: #344E41;
    text-align: center;
}

/* Estilos para los elementos de estadísticas */
.stats-item {
    margin-bottom: 1rem;
}

/* Estilos para la sección de testimonios */
.testimonial-section {
    background-color: #f9f5e9;
    color: #333;
    padding: 2rem 0;
}

/* Estilos para los testimonios */
.testimonial {
    background-color: #3A5A40;
    padding: 1.5rem;
    border-radius: 2rem;
}

/* Estilos para imágenes de la galería */
.gallery img {
    width: 100%;
    height: 10rem;
    border-radius: 1rem;
}

/* Estilos para el encabezado de los testimonios */
.testimonial-header {
    color: #344E41;
    font-weight: bold;
}

/* Estilos para contenedor de la galería */
.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para los elementos de la galería */
.gallery-item {
    padding: 0.5rem;
}

/* Estilos para la sección de clientes */
.client-section {
    background-color: #f9f5e9;
    color: #6E6E6E;
    padding: 2rem 0;
}

/* Estilos para la satisfacción del cliente */
.satisfaction {
    background-color: #344E41;
    color: #f5f5f5;
    padding: 1.5rem;
    border-radius: 1.5rem;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    top: 27vh;
    right: 20vw;
    width: 10rem;
}

/* Estilos para imágenes de clientes */
.client-img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

/* Estilos para el texto del contenido del cliente */
.client-content p {
    color: #333;
    font-size: 1.1rem;
}

/* Estilos para los iconos del cliente */
.client-icons p {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

/* Estilos para iconos dentro del contenido del cliente */
.client-icons i {
    font-size: 1.5rem;
    color: #344E41;
    margin-right: 0.5rem;
}

/* Estilos para la sección de servicios */
.service {
    background-color: #f9f5e9;
}

/* Estilos para el texto de servicios */
.texto-servicios {
    color: #344E41;
}

/* Estilos para las tarjetas de servicio */
.service-card {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilos para el título de las tarjetas de servicio */
.service-card h5 {
    font-weight: bold;
}

/* Estilos para los botones dentro de las tarjetas de servicio */
.service-card .btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para iconos dentro de los botones de las tarjetas de servicio */
.service-card .btn svg {
    margin-left: 10px;
}

/* Estilos para las tarjetas de servicio con fondo verde */
.service-card-green {
    background-color: #344E41;
    color: #f9f5e9;
}

/* Estilos para los botones dentro de las tarjetas de servicio con fondo verde */
.service-card-green .btn {
    border: none;
}

/* Estilos para las tarjetas de servicio con fondo claro */
.service-card-light {
    background-color: #f8f9fa;
    color: #344E41;
}

/* Estilos para la sección de servicios */
.service-section {
    background-color: #344E41;
    color: #fff;
    padding: 50px 0;
}

/* Estilos para el título de la sección de servicios */
.service-section h2 {
    font-weight: bold;
    margin-bottom: 30px;
}

/* Estilos para iconos */
.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Estilos para párrafos dentro de testimonios */
.testimonial p {
    margin-bottom: 5px;
}

/* Estilos para la sección de características */
.feature-section {
    background-color: #344E41;
}

/* Estilos para la lista de características */
.feature-list {
    list-style: none;
    padding: 0;
}

/* Estilos para elementos de la lista de características */
.feature-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Estilos para iconos dentro de la lista de características */
.feature-list li svg {
    margin-right: 10px;
}

/* Estilos para todos los iconos */
.feature-list svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

/* Estilos para citas dentro de testimonios */
.testimonial blockquote {
    margin: 0;
}

/* Estilos para tarjetas */
.card {
    border: none;
    border-radius: 2.5rem !important;
}

/* Estilos para el título de las tarjetas */
.card-title {
    font-size: 1.5rem;
}

.card-img-top{
    border-radius: 2.5rem 2.5rem 0 0;
    height: 200px;
    object-fit: cover
}

/* Estilos para la sección de títulos de tarjetas */
.title-cards-section {
    color: #344E41;
}

/* Estilos para el texto de las tarjetas */
.card-text {
    color: #6E6E6E;
}

/* Estilos para la sección de revisiones */
.review-section {
    background-color: #344E41;
}

/* Estilos para las tarjetas de revisión */
.review-card {
    background-color: #fff7eb;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
}

/* Estilos para imágenes dentro de las tarjetas de revisión */
.review-card img {
    border-radius: 50%;
}

/* Estilos para iconos de clasificación dentro de las tarjetas de revisión */
.review-rating svg {
    width: 20px;
    height: 20px;
    fill: #ffc107;
}

/* Servicios */

.servicios-page {
    background-color: #f9f5e9;
}

.page-services-section-title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #7a7a52;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.page-services-main-title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.page-services-step {
    text-align: center;
    margin-bottom: 2rem;
}

.page-services-step-number {
    font-size: 2.5rem;
    font-weight: bold;
    color: #b5c49c;
}

.page-services-step-title {
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #333;
}

.page-services-step-description {
    font-size: 1rem;
    color: #555;
}

.page-services-footer-note {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #333;
}

.page-services-footer-subtext {
    text-align: center;
    font-size: 0.875rem;
    color: #555;
}

.page-services-footer-highlight {
    font-weight: bold;
    color: #333;
}

/* Sobre Nosotros */

.section-header {
    text-align: center;
    margin-top: 2rem;
    color: #7a7a52;
}

.sub-title {
    text-align: center;
    color: #555;
    margin-bottom: 2rem;
}

.content-box {
    background-color: white;
    color: #344E41;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.highlight-section {
    background-color: #2e3d29;
    color: white;
    text-align: center;
    padding: 2rem;
    margin: 3rem 0;
}

.highlight-title {
    font-size: 2rem;
    font-weight: bold;
}

.purpose-section {
    padding: 2rem 0;
}

.purpose-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.purpose-step {
    margin-bottom: 1rem;
}

.step-number {
    font-size: 1.5rem;
    font-weight: bold;
    color: #b5c49c;
}

.step-description {
    font-size: 1rem;
    color: #555;
}

/* Proyectos */

.project-page {
    margin-top: 20px;
    color: #344E41;
    background-color: #f7f4eb;
    font-family: Arial, sans-serif;
}

.project-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-top: 2rem;
}

.project-item {
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-description {
    margin-top: 1rem;
    font-size: 1rem;
    color: #555;
}

.project-name {
    font-size: 1.25rem;
    font-weight: bold;
    color: #7a7a52;
}

.project-image {
    height: 300px;
    object-fit: cover;
}

/* Contacto */

.contact-section {
    background-color: #f3f3e6;
    padding: 50px 0;
}

.contact-section h2 {
    font-family: 'Times New Roman', serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.contact-section .contact-info {
    text-align: center;
    margin-bottom: 30px;
}

.contact-section .contact-info p {
    margin: 0;
}

.contact-section .contact-info .icon {
    margin-right: 10px;
}

.contact-section .contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-section .map {
    height: 300px;
    border: 0;
}

.contact-section .images {
    margin-top: 30px;
}

.contact-section .images img {
    width: 100%;
    height: auto;
    display: block;
}

.kitchen-section {
    background-color: #f3f3e6;
    padding: 50px 0;
}

.kitchen-section h2 {
    font-family: 'Times New Roman', serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.kitchen-section .quality-badge {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #62744D;
    color: white;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2rem;
}

.kitchen-section .quality-badge p {
    margin: 0;
}

.kitchen-section .image-container {
    position: relative;
}

.kitchen-section .image-container img {
    border-radius: 15px;
}

.light-green{
    color: #A3B18A;
}

.imagen-borde{
    border-radius: 2rem;
}
.cita-encarnacion{
    background-color:#344E41 !important;
}

.boton-general{
    background-color: #3A5A40;
}

.boton-alternativo{
    background-color: #A3B18A;
}

.btn-dark{
    border: 0;
}

.imagen-resena-1{
    background: url("../img/INICIO/IMG-20240205-WA0014\ \(3\).jpg");
    background-position: center;
    background-size: cover;
}

.imagen-resena-2{
    background: url("../img/INICIO/casa-lujosa-estilo-clasico-moderno-cocina-armarios-negros-1614082910.jpg");
    background-position: center;
    background-size: cover;
}

.img1-ClientesSatisfechos{
    width: 15vw;
    height: 27vh;
    object-fit: cover;
    border-radius: 1.5rem 0 0 1.5rem;
}

.img2-ClientesSatisfechos{
    width: 16vw;
    height: 40vh;
    object-fit: cover;
    border-radius: 1.5rem;

}

@media (max-width:768px) {
    .img1-ClientesSatisfechos{
        width:45vw;
    }
    .img2-ClientesSatisfechos{
        width:45vw;
    }
}

.imagenCocina {
    background-image: url('../img/CONTACTO/kitchen-1336160_1920.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
}